PORT=3000

DATABASE_URL="DATABASE_URL="postgresql://postgres:JzCYIFTpQfe1QiUo@db.vmmiyupormigzckbrujy.supabase.co:5432/postgres""

JWT_SECRET="super_secret_jwt_key_xfcode_2026"

DISCORD_CLIENT_ID="1535346943482531892"
DISCORD_CLIENT_SECRET="B3aNCQqySMphGAL3KnAlOXsrmBwNsktP"
DISCORD_REDIRECT_URI="https://xf-code.netlify.app/"
DISCORD_ADMIN_IDS="1412542344510574716"

LICENSE_API_SECRET="XF_LICENSE_9fK7mQ2xV8pL4zN6sR1wT5yH0cD3aB7e"
PAYMENT_SECRET="XF_PAYMENT_4vN8kR2xP7mL5zQ1wT9cH6yD3sA8eF0"

# PAYPAL
PAYPAL_CLIENT_ID="BAABDjigUQBsSGlR359OdkYsg5VYFkfvKyZDUR0ocQi5zIuIjDRKa7gQLM0nnCnJtJoTGR_0-jz3srrWzM"
PAYPAL_CLIENT_SECRET="EPD0ynE0HMUhtqQiUx66wii5xZ6XCxWZC0V8wW6Pfr1wBxm20RrHCU2N3TCGzHPueWtdGJsrns0CX6bB"
PAYPAL_MODE="live"